# Ignore build info artifacts
backend/agp-contracts/artifacts/build-info/*
backend/agp-contracts/states
backend/artifacts/build-info/*
backend/node_modules/*
backend/hashing/node_modules/*
.states
.env