# Ignore build info artifacts
artifacts/*
backend/agp-contracts/artifacts/build-info/*
backend/agp-contracts/states
backend/artifacts/*
backend/node_modules/*
backend/hashing/node_modules/*

.states
.env
